@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("base.css");
@import url("buttons.css");

html {
    scroll-behavior: smooth;
}

main {
    min-height: calc(100vh - 174px);
}

#showcase {
    background: linear-gradient(to bottom, rgba(252, 153, 124, 0.2), rgba(250, 81, 30, 0.2)),
    url('../images/bg.jpeg');
    position: relative;
    background-position: top;
    background-size: cover;
    height: 40vh;
    width: 100%;
}

.content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: rgba(46, 76, 109, 0.3);
    padding: 2rem;
    width: 60%;
    border-radius: 1rem;
}

@media (min-width: 576px) {
    #showcase {
        height: 50vh;
    }
}

@media (min-width: 768px){
    #showcase {
        height: 60vh;
    }
}

@media (min-width: 992px) {
    #showcase {
        height: 70vh;
    }
}

.main-header {
    background-color: #fc997c;
    padding: .8rem 1.6rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.main-nav {
    display: inline-block;
    width: calc(100% - 10rem);
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 1rem;
}

.main-header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.main-nav__item:last-child {
    display: none;
}

@media (max-width: 600px) {
    .main-nav__item {
        display: none;
    }

    .main-nav__item:last-child {
        display: block;
    }

    .responsive .main-nav__item {
        display: block;
        text-align: left;
        margin: 1rem 0;
    }

    .responsive .main-nav__item:last-child {
        position: absolute;
        right: 40px;
        top: 6px;
    }

    .responsive .main-nav {
        display: block;
    }
}

.main-nav__item a {
    text-decoration: none;
    color: #fff;
}

.main-nav__item a:hover,
.main-nav__item:hover::before {
    color: #2e4c6d;
}

.main-nav__item:active::before,
.main-nav__item a:active {
    color: #fff;
}

#how-it-works {
    padding: 1rem;
    text-align: center;
}

.icon-box h3 {
    color: #3e4555;
    font-size: 2.6rem;
}

.icon-box i {
    color: #fc997c;
}

.features__left {
    background: linear-gradient(to bottom, rgba(252, 153, 124, 0.2), rgba(250, 81, 30, 0.2)),
    url('../images/features.jpeg');
    background-size: cover;
    background-position: top center;
}

.features__right {
    background-color: #edf5f7;
    padding: 3rem;
    vertical-align: top;
}

.features__left, .features__right {
    height: 35rem;
}

.features__right h3 {
    font-size: 3rem;
}

.section-title {
    text-align: center;
    margin-bottom: 4rem;
    color: #3e4555;
    font-size: 3rem;
}

.plan {
    text-align: center;
    padding: .5rem;
}

.plan__badge {
    background-color: #fff;
    color: #fc997c;
    padding: .8rem;
    border-radius: .5rem;
}

.recommended_plan {
    color: #fff;
    background-color: #396eb0 !important;
    border-radius: .5rem;
}

.inner-plan {
    background-color: #edf5f7;
    padding: 2.5rem 1rem;
    border-radius: .5rem;
    box-shadow: 0px .7rem 2.9rem 0px rgba(100, 100, 111, 0.2);
    transition: box-shadow .3s;
}

.inner-plan:hover {
    box-shadow: 0px .7rem 2.9rem 0px rgba(100, 100, 111, 0.5);
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__features li {
    margin: .8rem 0;
}

@media (min-width: 768px) {
    [class*="card-"] {
        position: relative;
        top: 2rem;
    }
} 

#backtotop {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

#backtotop i {
    color: #2e4c6d;
    font-size: 4.5rem;
    transition: color .6s;
}

#backtotop i:hover {
    color: #2e4cad;
}

.counter {
    background: linear-gradient(to bottom, #fc997c 0%, #fc8b69 100%);
    text-align: center;
    padding: 5rem;
    color: #fff;
}

.counter__item {
    font-size: 3rem;
    font-weight: 500;
}

.counter h4 {
    margin: 0;
}

.card {
    background-color: #fff;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 1rem 1rem 4rem rgba(52, 58, 64, 0.1);
    /* position: relative; */
    /* top: 0; */
    transition: all .3s;
}

.card:hover {
    /* top: -10px; */
    transform: translateY(-10px);
}

.card-container {
    padding: 1rem;
}

.card-image {
    max-height: 35rem;
}

.card-body {
    padding: 3rem;
}

footer {
    background-color: #2e4c6d;
    padding: 3rem;
}

footer a {
    color: #fff;
    font-size: 1.8rem;
    text-decoration: none;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: .5rem;
}

#social-links {
    text-align: right;
}

.fab {
    padding: 1rem;
    font-size: 2.5rem;
    border-radius: 50%;
}

.fa-facebook {
    background-color: #3b5998;
    color: #fff;
}
.fa-twitter {
    background-color: #55acee;
    color: #fff;
}
.fa-instagram {
    background-color: #125688;
    color: #fff;
}

.fab:hover {
    opacity: 0.7;
}